<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.InspectionMapper">

<!--    &lt;!&ndash; 선택된 작업지시들을 vision_result에 'PENDING'으로 미리 적재 &ndash;&gt;-->
<!--    <insert id="insertVisionWorkNos">-->
<!--        INSERT INTO vision_result (work_no,useyn)-->
<!--        VALUES-->
<!--        <foreach item="no" collection="list" separator=",">-->
<!--            (#{no}, 'Y')-->
<!--        </foreach>-->
<!--    </insert>-->

    <update id="insertVisionWorkNos">
        WITH
        empty_slots AS (
        SELECT id, ROW_NUMBER() OVER (ORDER BY id) AS rn
        FROM vision_result
        WHERE work_no IS NULL
        ),
        new_items AS (
        <foreach item="no" collection="list" index="idx" separator=" UNION ALL ">
            SELECT #{no} AS work_no, #{idx} + 1 AS rn
        </foreach>
        )
        UPDATE vision_result v
        JOIN empty_slots s ON v.id = s.id
        JOIN new_items  n ON s.rn = n.rn
        SET v.work_no = n.work_no,
        v.useyn   = 'Y';
    </update>
</mapper>
