# ==========================
# Build output
# ==========================
/target/                  # 루트 target 폴더 제외
**/target/                # 모든 하위 target 폴더 제외

# ==========================
# IDE & Editor
# ==========================
# IntelliJ IDEA
/.idea/
/*.iml
/*.iws
/*.ipr

# Eclipse / STS
/.classpath
/.project
/.settings/
/.springBeans
/.factorypath

# VS Code
/.vscode/

# ==========================
# OS
# ==========================

Thumbs.db
# macOS
.DS_Store

# ==========================
# Maven wrapper
# ==========================
/.mvn/wrapper/maven-wrapper.jar

# ==========================
# 기타
# ==========================
# Help.md 등은 올리려면 제외하지 않음
